@font-face {
    font-family: "Josefin Slab";
    src: url("https://db.onlinewebfonts.com/t/5260054402a235e4a92dae40a93ddd74.eot");
    src: url("https://db.onlinewebfonts.com/t/5260054402a235e4a92dae40a93ddd74.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/5260054402a235e4a92dae40a93ddd74.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/5260054402a235e4a92dae40a93ddd74.woff") format("woff"), url("https://db.onlinewebfonts.com/t/5260054402a235e4a92dae40a93ddd74.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/5260054402a235e4a92dae40a93ddd74.svg#Josefin Slab") format("svg");
}

html,
body {
    color: palevioletred;
    font-family: Josefin Slab;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}

#BeginImage {
    z-index: 1;
    left: 0;
    right: 0;
}

.Vignette {
    position: relative;
    display: inline-block;
}

.Vignette img {
    display: block;
}

.Vignette::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10vh black;
}

h1 {
    z-index: 10;
    position: absolute;
    left: 30vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    display: inline-block;
    font-size: xx-large;
    background-color: white;
    opacity: 80%;
    padding: 5px;
    border-radius: 5px;
}

#SnapContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    max-height: 100vh;
    scroll-snap-type: y proximity;
}

.StopPoint {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: block;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 5vh;
    padding-top: 1vh;
}

@media only screen and (max-width: 949px) and (orientation: landscape) {
    #SnapContainer {
        overflow-y: scroll;
    }
    .StopPoint {
        height: 85vh;
    }
    .BigImages {
        display: block;
        max-width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }
    .FloatingImages {
        display: inline-block;
        position: absolute;
        max-width: 20vw;
        left: 10vw;
    }
    #Table {}
    #AboutMeText {
        display: inline-block;
        position: absolute;
        right: 7vw;
        max-width: 50vw;
    }
    #Book {
        display: inline-block;
        max-width: 50vw;
        z-index: 0;
        position: absolute;
        left: 5vw;
    }
    #EducationText {
        display: inline-block;
        max-width: 80vw;
        max-height: 55vh;
        background-color: white;
        opacity: 85%;
        z-index: 1;
        position: absolute;
        top: 20vh;
        left: 12vw;
    }
    .EduPoint {
        display: inline-block;
        max-width: 15vw;
        max-height: 25vh;
    }
    .Degree {
        position: absolute;
        top: 3vh;
        max-width: 15vw;
    }
    .School {
        position: absolute;
        bottom: 3vh;
        max-width: 15vw;
        font-weight: bold;
    }
    #Treatment {
        height: 150vh;
    }
    #TreatmentText {
        max-width: 85vw;
        margin-top: 3vh;
        margin-right: auto;
        margin-left: auto;
    }
    #PastryShop {
        max-width: 20vw;
    }
    #WorkWithMeText {
        display: inline-block;
        max-width: 55vw;
        position: absolute;
        top: 12vh;
        right: 8vw;
    }
}

@media only screen and (min-width: 950px) {
    .BigImages {
        display: block;
        max-width: 75vw;
        max-height: 90vh;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 0;
    }
    .FloatingImages {
        display: inline-block;
        margin-left: 5vw;
        margin-right: 9vw;
    }
    #Table {
        max-height: 80vh;
        max-width: 30vw;
    }
    #AboutMeText {
        display: inline-block;
        max-width: 35vw;
        padding-right: 5vw;
        margin-right: auto;
        margin-left: auto;
        vertical-align: top;
        font-size: 2vw;
    }
    #EducationText {
        position: absolute;
        padding: 5px;
        border-radius: 5px;
        width: 30vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vh;
        padding-bottom: 2vh;
        top: 20%;
        left: 45%;
        z-index: 5;
        background-color: white;
        opacity: 80%;
    }
    .EduPoint {
        display: block;
    }
    .School {
        font-weight: bold;
        margin-bottom: 2vh;
    }
    #TreatmentText {
        position: absolute;
        border-radius: 5px;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vh;
        padding-bottom: 2vh;
        width: 30vw;
        top: 20%;
        left: 45%;
        z-index: 5;
        background-color: white;
        opacity: 80%;
    }
    #PastryShop {
        max-width: 30vw;
    }
    #WorkWithMeText {
        display: inline-block;
        max-width: 35vw;
        padding-right: 5vw;
        margin-right: auto;
        margin-left: auto;
        vertical-align: top;
        font-size: 2vw;
    }
    h1 {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3vh;
        font-size: 5vh;
    }
    h2 {
        margin-top: 5px;
        font-size: x-large;
    }
}

@media screen and (max-width:400px) and (orientation: portrait) {
    .Vignette {
        margin-bottom: 2vh;
    }
    #SnapContainer {
        overflow-y: scroll;
    }
    .StopPoint {}
    .BigImages {
        display: block;
        max-width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
    #BeginPage {
        max-height: 50vh;
    }
    .FloatingImages {
        display: block;
        float: left;
        max-width: 30vw;
    }
    #AboutPage {
        max-height: 60vh;
        max-width: 100vw;
        margin-right: 5vw;
    }
    #Table {
        max-width: 30vw;
    }
    #AboutMeText {
        margin-right: 5vw;
    }
    #EducationPage {
        height: 90vh;
    }
    #Book {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 75vw;
    }
    #EducationText {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 10vw;
    }
    .EduPoint {
        display: table-cell;
        max-width: 32vw;
        height: fit-content;
        margin-bottom: 3vh;
        margin-left: 2vh;
    }
    .Degree {
        padding-bottom: 2vh;
    }
    .School {
        vertical-align: top;
        font-weight: bold;
    }
    #Treatment {
        max-height: 85vh;
    }
    #TreatmentText {
        max-width: 85vw;
        margin-top: 3vh;
        margin-right: auto;
        margin-left: auto;
    }
    #PastryShop {
        width: 30vw;
    }
    #WorkWithMeText {
        display: inline-block;
        max-width: 55vw;
        position: absolute;
        top: 12vh;
        right: 8vw;
    }
    h1 {
        position: absolute;
        left: 14vw;
        max-width: 65vw;
    }
    h2 {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}